[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "nvctr"]
	path = nvctr
	url = https://github.com/euctrl-pru/nvctr
	shallow = true
	registered = true
